/* body {
    transform: scaleX(0.667) scaleY(0.667);
    transform-origin: 0 0;
    height: 800px;
    width: 1280px;
    overflow: hidden;
    -moz-transform: scaleX(0.511) scaleY(0.511);
  }

  @font-face {
  font-family: "poppins regular";
  src: url("../assets/Poppins-Regular.woff2") format("woff2"),
    url("../assets/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
  
  
  */
:root {
  /* main theme colors */
  --olive-dark: #2e4442;
  --olive-light: #426d69;
  --olive-medium: #4a735e;
  --white-color: #ffffff;
  --blue-medium: #25435d;
  --gray-light: #ddd9c3;
  --gray-dark: #171717;
  --block-color: #000000;
  --nav-btn-bg-1: #269289;
  --nav-btn-bg-2: #5d5d5d;

  /* data colors */
  --color-brown: #8d2e22;
  --color-violet: #572c71;
  --color-blue-light: #2a5b85;
  --color-blue-dark: #275277;
  --color-yellow-light: #967a06;
  --color-yellow-dark: #95610f;
  --color-orange: #8b4e10;
  --color-green-1: #478142;
  --color-green-2: #5da756;
  --color-green-3: #62b35c;
  --color-green-4: #81e878;

  /* popup item colors */
  --red: #fe0233;
  --green: #08c04c;
  --yellow: #ffea02;
  --blue-light: #01d9fb;
  --blue-dark: #4b50dd;
  --orange: #fe7902;
  --violet: #a500b5;
  --pink: #febabc;
  --red-dark: #e7404b;
}

/* data color class */
.data-wrapper .bg-brown {
  background-color: var(--color-brown);
}
.data-wrapper .bg-violet {
  background-color: var(--color-violet);
}
.data-wrapper .bg-blue-l {
  background-color: var(--color-blue-light);
}
.data-wrapper .bg-blue-d {
  background-color: var(--color-blue-dark);
}
.data-wrapper .bg-orange {
  background-color: var(--color-orange);
}
.data-wrapper .bg-yellow-d {
  background-color: var(--color-yellow-dark);
}
.data-wrapper .bg-yellow-l {
  background-color: var(--color-yellow-light);
}

/* border-colors */

.data-wrapper .border-brown {
  border-color: var(--color-brown);
}
.data-wrapper .border-violet {
  border-color: var(--color-violet);
}
.data-wrapper .border-blue-l {
  border-color: var(--color-blue-light);
}
.data-wrapper .border-blue-d {
  border-color: var(--color-blue-dark);
}
.data-wrapper .border-orange {
  border-color: var(--color-orange);
}
.data-wrapper .border-yellow-d {
  border-color: var(--color-yellow-dark);
}
.data-wrapper .border-yellow-l {
  border-color: var(--color-yellow-light);
}

/* popup color class */
.bg-red-l {
  background-color: var(--red);
}
.bg-red-d {
  background-color: var(--red-dark);
}
.bg-green {
  background-color: var(--green);
}
.bg-blue-l {
  background-color: var(--blue-light);
}
.bg-blue-d {
  background-color: var(--blue-dark);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-yellow {
  background-color: var(--yellow);
}
.red-text {
  color: var(--red);
}
.green-text {
  color: var(--green);
}
.nav-btn-bg-1 {
  background-color: var(--nav-btn-bg-1);
}
.nav-btn-bg-2 {
  background-color: var(--nav-btn-bg-2);
}

@font-face {
  font-family: "poppins regular";
  src: url("../assets/Poppins-Regular.woff2") format("woff2"),
    url("../assets/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.main-container {
  width: 1920px;
  margin: 0 auto;
  font-family: "poppins regular", sans-serif;
  height: 1200px;
  position: relative;
  overflow: hidden;
}

.main-container .dev-mode-version {
  position: absolute;
  background-color: #eaeaea;
  left: 50%;
  z-index: 100;
  opacity: 0.6;
  padding: 3px;
  border-radius: 6px;
  top: 10px;
}
.bg-olive-dark {
  background-color: var(--olive-dark);
}
.bg-olive-light {
  background-color: var(--olive-light);
}
.bg-olive-medium {
  background-color: var(--olive-medium);
}
.bg-brown {
  background-color: var(--color-brown);
}
.bg-violet {
  background-color: var(--color-violet);
}
.dr-btn {
  font-size: 30px;
  font-family: "poppins regular", sans-serif;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}
.top-sec {
  display: flex;
  flex-wrap: nowrap;
  height: 75%;
}
.left-sidebar {
  flex: 0 0 15.94%;
  max-width: 15.94%;
  border-right: 1px solid var(--white-color);
  height: 100%;
}
.nav-wrapper {
  max-width: 306px;
  background-color: var(--gray-dark);
  padding: 0 2px;
  height: 297px;
  display: flex;
  flex-wrap: wrap;
}
.nav-wrapper .dr-btn {
  height: calc(50% - 6px);
  margin: 3px 0;
}
.nav-wrapper .dr-btn.btn-half {
  flex: 0 0 calc(50% - 1px);
  max-width: calc(50% - 1px);
}
.nav-wrapper .dr-btn.btn-full {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 0;
}
.nav-wrapper .dr-btn.btn-l {
  margin-right: 1px;
}
.nav-wrapper .dr-btn.btn-r {
  margin-left: 1px;
}
.remote-icon {
  margin-left: 26px;
  width: 102px;
  max-height: 72px;
}
.state-wrapper {
  max-width: 306px;
  height: 385px;
  display: flex;
  flex-wrap: wrap;
  padding: 42px 22px 28px;
  align-content: center;
  justify-content: space-between;
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}
.state-labels {
  flex: 0 0 93px;
  max-width: 93px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 14px;
  padding-bottom: 10px;
}
.state-title {
  display: block;
  color: var(--white-color);
  font-size: 18px;
  font-size: 18px;
  line-height: 1.1;
  line-height: 1.5;
  margin-bottom: 3px;
}
.state-value {
  color: #cfcfcf;
  font-size: 18px;
}
.info-wrapper {
  max-width: 306px;
  height: 218px;
  padding: 15px 27px;
  display: flex;
  align-items: center;
}
.info-text {
  font-size: 22px;
  line-height: 1.4;
  color: var(--white-color);
  height: 100%;
  width: 100%;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.info-inner-wrapper {
  flex: 100%;
  display: flex;
  justify-content: space-between;
}
.main-video-wrapper {
  flex: 0 0 56.04%;
  max-width: 56.04%;
  height: 900px;
  position: relative;
}
.main-wrapper {
  height: 100%;
}
.main-video-wrapper .main-img {
  width: 100%;
  height: 100%;
}
.video-controller-wrapper {
  position: absolute;
  top: 39px;
  left: 30px;
  right: 30px;
  width: calc(100% - 60px);
  display: flex;
}
.video-controller-wrapper .video-icon-wrapper {
  display: inline-block;
}
.video-controller-wrapper .video-icon {
  height: 80px;
  width: 80px;
}
.video-controller-wrapper .record-icon-wrapper {
  margin-right: 19px;
}
.video-controller-wrapper .setting-icon-wrapper {
  margin-left: auto;
}
.right-sidebar {
  flex: 0 0 28.02%;
  max-width: 28.02%;
  height: 100%;
  border-left: 1px solid var(--white-color);
}
.map-wrapper {
  height: 450px;
  border-bottom: 1px solid var(--white-color);
  position: relative;
}
.map-wrapper .map-img {
  width: 100%;
  height: 100%;
}
.map-controller-wrapper {
  position: absolute;
  top: 17px;
  right: 13px;
  display: flex;
  flex-direction: column;
}
.map-controller-wrapper .sizing-icon {
  width: 64px;
  height: 64px;
}
.map-controller-wrapper .zoom-icon {
  width: 60px;
  height: 60px;
}
.map-controller-wrapper .map-icon-wrapper {
  display: inline-block;
}
.map-controller-wrapper .sizing-icon-wrapper {
  margin-bottom: 24px;
}
.sonar-wrapper {
  height: 450px;
  position: relative;
}
.sonar-wrapper .sonar-img {
  width: 100%;
  height: 100%;
}
.sonar-controller-wrapper {
  position: absolute;
  top: 45px;
  right: 2px;
  left: 14px;
  width: 100%;
  display: flex;
}
.sonar-controller-wrapper .sonar-icon-wrap {
  display: inline-block;
  margin-right: 10px;
}
.sonar-controller-wrapper .sonar-icon {
  width: 64px;
  height: 64px;
}
.sonar-icon-wrap.sizing-icon-wrapper {
  margin-left: auto;
  margin-right: 25px;
}
.bottom-sec {
  height: 300px;
  position: relative;
}
.data-wrapper {
  height: 100%;
  display: flex;
  background-color: var(--blue-medium);
  border-top: 1px solid var(--white-color);
}
.data-inner-wrap {
  flex: 0 0 279px;
  max-width: 279px;
  margin-right: 85px;
  height: 100%;
}
.data-item {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 279px;
  border: 3px solid;
}
.data-item.active {
  border: 3px solid #4a735e;
}
.data-item:hover {
  border: 3px solid #4a735e;
}
.data-item .play-icon-wrap {
  position: absolute;
  top: 18px;
  right: 13px;
}
.data-item .play-icon {
  max-height: 34px;
  max-width: 30px;
}
.data-item .data-label {
  position: absolute;
  left: 22px;
  top: 16px;
  font-size: 44px;
  line-height: 1;
  color: var(--white-color);
}
.data-item .data-img {
  max-width: 160px;
}
.dr-pagination-wrapper {
  display: flex;
  align-items: flex-end;
  height: 50%;
}
.dr-pagination {
  display: flex;
  padding: 0;
  margin: 0;
}
.dr-pagination-item {
  list-style: none;
}
.dr-pagination-item a {
  display: inline-block;
  width: 100px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 30px;
  line-height: 1;
}
.dr-pagination-item.first-item a {
  width: 239px;
  justify-content: flex-start;
  padding: 18px 25px;
}
.dr-pagination-item a:hover {
  text-decoration: none;
}
.dr-pagination .first-item {
  background-color: var(--color-green-1);
}
.dr-pagination .second-item {
  background-color: var(--color-green-4);
}
.dr-pagination .third-item {
  background-color: var(--color-green-3);
}
.dr-pagination .fourth-item {
  background-color: var(--color-green-2);
}
.dr-pagination .fifth-item {
  background-color: var(--color-green-1);
}
.map-icon,
.close-icon,
.play-icon,
.sonar-icon,
.video-icon {
  cursor: pointer;
}
.dr-popup-wrapper {
  padding: 32px 14px 28px;
  max-width: 620px;
  position: absolute;
  top: 33%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  border-radius: 8px;
}
.dr-popup-inner-wrap {
  display: flex;
  flex-wrap: wrap;
}
.dr-popup-wrapper .popup-item {
  flex: 0 0 calc(25% - 12px);
  max-width: calc(25% - 12px);
  padding-bottom: 47px;
  margin: 0 6px 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  background-color: var(--gray-light);
  position: relative;
  overflow: hidden;
}
.dr-popup-wrapper .popup-img-wrapper {
  width: 100%;
  height: 100%;
  min-height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dr-popup-wrapper .popup-label {
  position: absolute;
  width: 100%;
  height: 47px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  padding: 7px 20px;
  text-align: center;
  align-items: center;
}
.dr-popup-wrapper .dr-close-btn {
  position: absolute;
  right: 20px;
  top: 13px;
  max-width: 54px;
  max-height: 54px;
}
.dr-popup-wrapper .popup-text {
  display: inline-block;
  line-height: 1.2;
  font-size: 14px;
}
.dr-popup-wrapper .dr-popup-label {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 29px;
  display: inline-block;
}
.dr-popup-wrapper .popup-img {
  max-width: 136px;
}
.popup-layer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  position: absolute;
}
.percentage-bar-wrapper {
  background-color: var(--white-color);
  padding: 28px 43px;
  border-radius: 8px;
  display: flex;
  position: absolute;
  top: -140px;
  left: 10%;
}
.percentage-bar-item {
  background-color: #2e4442;
  padding: 28px 43px;
  border-radius: 8px;
  display: inline-block;
  width: 90px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  color: var(--white-color);
  margin-right: 9px;
}
.percentage-bar-item:last-child {
  margin-right: 0;
}
